
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(24, 246, 172);
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
    padding-top: 30px;
    text-align: center;
}
h3{
    text-align: center;

}


/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}



label {
    display: block;
    font-size: 1.125rem;
    margin-bottom: .77rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    background: #EDEDED;
    border: 1px solid #C7C7C7;
    font-size: 1rem;
    padding: .75rem;
    margin-bottom: 2.5em;
    border-color: palevioletred;
}
input[type="text"]:focus {
    border: 3px solid black;
    
}

button {
    font-family: "Comfortaa", sans-serif;
    padding: 1em 1.5em;
    margin-top: 2em;
    border-radius: 5px;
    border: none;
    background: lime;
    color: black;
    cursor: pointer;
    transition: background 0.5s;
    
}

button:hover, button:focus {
    background: rgb(168, 0, 0);
}

 .container button {
    margin: 0 auto;
}
.result {
    text-align: center;
      font-weight: bolder;
      color: red;
      font-size: 25px;
}
